footer{
    position: relative;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--Navbar);
    color: var(--CorFonte);
    text-align: center;
    transition: 0.5s;
    display:flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 1px rgba(29, 22, 22, 0.02), 
    0 2px 2px rgba(0,0,0,0.02), 
    0 4px 4px rgba(0,0,0,0.02), 
    0 8px 8px rgba(0,0,0,0.02),
    0 16px 16px rgba(0,0,0,0.02);
}

footer a{
    margin: 1rem;
    padding: 1rem;
}