nav{
    height: 5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.01), 
              0 2px 2px rgba(0,0,0,0.01), 
              0 4px 4px rgba(0,0,0,0.01), 
              0 8px 8px rgba(0,0,0,0.01),
              0 16px 16px rgba(0,0,0,0.01);
}

@media only screen and (max-width: 900px) {
    nav{
        height: 8rem;
    }
  }

.NavLink{
    display: flex;
    color: var(--CorFonte);
    align-items: center;
}

.logo{
    width: 5rem;
}

a{
    text-decoration: none;
    color:var(--CorFonte);
    transition: 0.25s;
    display:flex;
    align-items: center;
    gap: 5px;
}

a:hover{
    color:var(--FonteInput);
}

.loginECadastro{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

@media only screen and (max-width: 900px) {
    .loginECadastro{
        margin-top: 1rem;
        width: 100%;
    }
  }


.ModoNoturno{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    margin-right: 2rem;
}

.ModoNoturno:focus{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

