nav{
    width: 100%;
    height: 5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Navbar);
    transition: 0.5s;
}

nav div{
    margin-right: 2rem;
    margin-left: 2rem;
    display:flex;
    align-items: center;
    gap: 30px;
}

.pesquisa{
    background-color: var(--CorFundo);
    padding: 0.8rem;
    color:var(--FonteInput);
    border-radius: 15px;
    outline: none;
    border: none;
    display:flex;
    gap: 5px;
    align-items: center;
    transition: 0.5s;
}

.pesquisa input{
    border: none;
    outline: none;
    background: none;
    color:var(--FonteInput);
}

.logo{
    width: 5rem;
}

a{
    text-decoration: none;
    color:var(--CorFonte);
    transition: 0.25s;
}

a:hover{
    color:var(--FonteInput);
}

.loginECadastro{
    display:flex;
    align-items: center;
    gap: 15px;
}

.cta{
    background-color: #20bd73;
    padding: 0.8rem;
    color:var(--Navbar);
    border-radius: 15px;
}

.cta:hover{
    color:var(--Navbar);
}

.ModoNoturno{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

