body{
    background-image: url('../imgs/backImg.gif');
}

header{
    background-color: black;
}

header div{
    background-color: black;
    display:flex;
    justify-content: space-around;
}

a:hover{
    opacity: 1;
    font-size: 17px;    
}

.logo{
    width: 10rem;
    height: auto;
    float: left;
}
