.pecas{
    text-align: center;
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 20px;
    margin: 1rem;
}

.barraPesquisa{
    float: right;
}

.imgTitulo{
    display: flex;
    gap: 6em;
}

.researchResult{
    padding: 1em;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    margin-bottom: 1em;
}