.background{
    background-color: var(--CorFundoForm);
    box-shadow: black;
    border-radius: 10px;
    padding: 3rem;
}

button{
    display: block; 
    margin: auto;
}

#header{
    display: none;
}

#footer{
    display: none;
}
