.background{
    background-color: var(--CorFundoForm);
    box-shadow: black;
    border-radius: 10px;
    width: 100%;
}

.listaPC{
    display: flex;
    gap: 5rem;
}

.termos{
    text-align: center;
    display: flex;
    gap: 5px; 
    justify-content: center;
}