.pcs{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
    padding: 0;
}

#preco{
    font-weight: 600;
}

.card{
    width: var(--TamanhoItem);
    padding: 1rem;
}

.card ul{
    display:block;
    margin: 0; 
    padding: 0;
    text-align: start;
}

.card ul li{
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}
