.backgroundFinal{
    width: 100%;
    padding: 10rem;
    text-align: center;
    display: flex;
    border-radius: 20px;
    border: 3px solid whitesmoke;
    background-color: #202124;
}

.backgroundEscolha{
    width: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    border-radius: 20px;
}

