.pecas{
    text-align: center;
    border-radius: 20px;
    width: 100%;
}

.barraPesquisa{
    float: right;
}

.imgTitulo{
    display: flex;
}

.researchResult{
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    border: 3px solid whitesmoke;
    background-color: #202124;
}