@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --CorFundo: #f1f1f1;
    --CorFonte: #585858;
    --Navbar: white;
    --FonteInput: #9e9ea7;
    --TamanhoItem : 16rem;
  }

body{
    background-color: var(--CorFundo);
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    transition: 0.5s;
}

.container{
  margin-top: 2rem;
}