:root{
    --corFundo: white;
    --corFonte: black;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;

    background-color: var(--corFundo);
    color: var(--corFonte);
}

#nightModeToggle:checked + body{
    --corFundo: black;
    --corFonte: White;

    background-color: var(--corFundo);
    color: var(--corFonte);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}